.movies-more {
  background-color: #202020;
  width: 100%;
}

.movies-more__container {
  display: flex;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.movies-more__button {
  width: 100%;
  background-color: #2f2f2f;
  border-radius: 6px;
  height: 36px;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;

  color: #ffffff;
  cursor: pointer;
  margin: 50px 0 80px;
  transition: background-color 0.8s ease-in-out;
}

.movies-more__button:hover {
  background-color: #424242;
}

@media (max-width: 1280px) {
  .movies-more__container {
    width: 708px;
  }
}

@media (max-width: 767px) {
  .movies-more__container {
    width: 300px;
  }
}
