.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
}

.header__button {
  /* width: 77px; */
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: white;
  margin-right: 30px;
  transition: opacity 0.2s ease-in-out;

}

.header__button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.header_theme_gray {
  background-color: #202020;
}

.header_theme_green {
  background-color: #073042;
}

.header__button_style_green {
  background: #3ddc84;
  border-radius: 3px;
  color: #000000;
  padding: 8px 20px;
  margin-right: 0;
}

.header__user-buttons {
  display: flex;
  align-items: center;
}

.header__container {
  max-width: 1140px;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.header__profile-icon{
  width: 26px;
  height: 30px;
  background: #313131;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 17px;
}

.header__button-user{
  display: flex;
  align-items: center;
  
}


/* .header__profile-icon{
  width: 12px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.header__button-user{
  display: flex;
  align-items: center;
  border:2px solid #F5F5F5;
  border-radius: 20px;
  padding: 0 14px;
}
*/
.header__button-film{
  display: flex;
  align-items: center;
  margin-right: 20px;
} 
.header__menu{
  display: flex;
  align-items: center;
}

.header__button-user_position_start {
  display: flex;
  align-items: center;
  border:2px solid #F5F5F5;
  border-radius: 20px;
  padding: 0 14px;
}

.header__profile-icon_position_start {
  width: 12px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0;
  margin-right: 8px;
}



.header__button_position_start{
  display: none;
}

@media (max-width: 1280px) {
  .header__logo {
    margin-left: 30px;
  }

  .header__user-buttons {
    margin-right: 30px;
  }
}

@media (max-width: 620px) {
  .header__button {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    margin-right: 14px;
  }

  .header__button_style_green {
    padding: 5px 12px;
  }

  .header__user-buttons {
    margin-right: 14px;
  }

  .header__logo {
    margin-left: 14px;
  }

  .header__button-user{
    display: none;
  }
}
