.footer {
  background-color: #202020;
  width: 100%;
}

.footer__container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 1280px;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}

.footer__text {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  text-align: center;

  color: #8b8b8b;
  padding-bottom: 20px;
  border-bottom: 1px solid #424242;
  width: 100%;
}

.footer__low-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer__year {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #ffffff;
}

.footer__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.footer__link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

.footer__link:hover {
  opacity: 0.8;
  cursor: pointer;
}

.footer__link:first-of-type {
  margin-right: 20px;
}

@media (max-width: 1280px) {
  .footer__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 530px) {
  .footer__container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
